
class me
{
    get(bios);
    public string life = "yes";
    private string name;

    func panda()
    {
        this.name = "Panda";
        ret this.name;
    }

}

func main(string[] argv)
{
    me new_me = new me();
    string life = new_me.life;
    string name = new_me.panda();

}
