
class me
{
    public string life = "yes";
    private string name;

    func Panda()
    {
        int hunger;
    }

}


func main(string[] args)
{
    string life = me.life;
}